
main {
  flex: 1 0 auto;
}
nav {
  background: #ff5b62;
}

#app {
  background: skyblue;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#add-recipe{
  text-align: right
}

.text-recipe{
  background: white;
}

.btn{
  margin-top: 15px;
}

.modal-content{
  h4{
    text-align: center;
  }
}
